.idea/*
cmake*
pdfs/*
CMakeFiles/*
cmake_install.cmake
libtraffic_scenario.a
traffic_sim
libvis.a
CMakeCache.txt
Project.cbp

#VS
.vs
*.vcxproj
*.vcxproj.*
Debug
Release
traffic_scenario.dir
traffic_sim.dir
vis.dir
x64
Project.sln


#output
*.avi

#ignore large tests
tests/own_tests/128_5_20695_103475\.json
tests/own_tests/256_5_83\.751_418\.755\.json
