.idea/*
cmake-build-debug/*
pdfs/*
CMakeFiles/*
cmake_install.cmake
libtraffic_scenario.a
traffic_sim
libvis.a
CMakeCache.txt
Project.cbp

#VS
.vs
*.vcxproj
*.vcxproj.*
Debug
Release
traffic_scenario.dir
traffic_sim.dir
vis.dir
x64
Project.sln


#output
*.avi